<div class="footer-container">
    <div class="d-flex">
        <div class="pe-5 subscription-container">
          <p class="mb-0">Join our newsletter to stay up to date on features and releases</p>
            <div class="d-flex subscription my-1">
                <input type="email" placeholder="Enter your email">
                <button class="ms-1">Subscribe</button>
            </div>
            <p>By subscribing you agree to our Privacy Policy and provide consent to receive updates from our company</p>
        </div>
        <div class="footer-element">
          <h5>Company</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">About Us</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contact Us</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Customer Support</a></li>
          </ul>
        </div>
        <div class="footer-element">
          <h5>Services</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Clients</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Handymen(Artisan)</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">How handyman works</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">FAQs</a></li>
          </ul>
        </div>
        <div class="footer-element">
          <h5>Follow Us</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none d-flex" href="#">
                <img src="../static/icons/facebook.png" alt="" width="32" height="32">
                <p class="ms-3">Facebook</p>
            </a></li>
            <li class="mb-1 d-flex"><a class="link-secondary text-decoration-none d-flex" href="#">
                <img src="../static/icons/instagram.png" alt="" width="32" height="32">
                <p class="ms-3">Instagram</p>
            </a></li>
            <li class="mb-1 d-flex"><a class="link-secondary text-decoration-none d-flex" href="#">
                <img src="../static/icons/x.png" alt="" width="32" height="32">
                <p class="ms-3">X</p>
            </a></li>
            <li class="mb-1 d-flex"><a class="link-secondary text-decoration-none d-flex" href="#">
                <img src="../static/icons/linkedin.png" alt="" width="32" height="32">
                <p class="ms-3">LinkedIn</p>
            </a></li>
            <li class="mb-1 d-flex"><a class="link-secondary text-decoration-none d-flex" href="#">
                <img src="../static/icons/youtube.png" alt="" width="32" height="32">
                <p class="ms-3">YouTube</p>
            </a></li>
          </ul>
        </div>
      </div>
      <hr  style="border: 0; height: 1px; background-color: #ffffff; width: 90%; margin-left: 10%;">
      <div class="d-flex copy-right">
        <small class="d-block mb-3 text-body-secondary">©2025 handyman. All rights reserved</small>
        <a href="" class="link-secondary text-decoration-none pp">Privacy Policy</a>
        <a href="" class="link-secondary text-decoration-none tos">Terms of Service</a>
      </div>
</div>